.cm-header-1 {
    font-size: 2em;
    align-content: center;
  }
  .cm-header-2 {
    font-size: 1.6em;
  }
  .cm-header-3 {
    font-size: 1.37em;
  }
  .cm-header-4 {
    font-size: 1.25em;
  }
  .cm-header-5,
  .cm-header-6 {
    font-size: 1.12em;
  }

  .cm-quote {
    color: red;
}

.markdown-preview-section h1 {
    color: blue !important;
}

.markdown-preview-view blockquote {
    color: red;
}

a:link {
    color: red;
}
a:hover {
    color: blue;
}
a:visited {
    color: green;
}

body{
    font-family: 'Times New Roman','SimSum';
}

pre.CodeMirror-line:not(.HyperMD-header){
    text-indent: 2em;
}

.markdown-preview-section p{
    text-indent: 2em;
}

.markdown-source-view.is-readable-line-width .CodeMirror {
    max-width: 1000px;
}
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer{
    max-width: 1000px;
}

img
{
  margin-left: auto; 
  margin-right:auto; /*以上两行代码可以让图片居中*/
  display: block;
}

.markdown-preview-view img {
	max-width: 100%;
	outline: none;
	/* -webkit-filter: drop-shadow(10px 10px 10px rgba(8, 8, 8, 0.5));阴影效果 */
		background-clip: content-box,padding-box;
		border-radius: 40px 40px 40px;/*圆角矩形 左上角：20px；右上角和左下角：10px；右下角：40px*/       
}

pre {
position: relative;
}

pre[class*='language-']:before {
    font-family: Rubik, Lato, Lucida Grande, Lucida Sans Unicode, Tahoma, Sans-Serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.6rem;
    color: #fff;
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;
    padding: 0;
    color: var(--text-accent) !important;
    content: '';
    text-transform: uppercase;
    background: rgba(16, 14, 23, 0.86);
    border-radius: 8px;
    padding: 0.1em 0.8em;
    z-index: 10;
}

pre[class$='javascript']:before,
pre[class$='js']:before {
content: 'JavaScript';
}

pre[class$='typescript']:before,
pre[class$='ts']:before {
content: 'typescript';
}

pre[class$='html']:before {
content: 'html';
}

pre[class$='ejs']:before {
content: 'ejs';
}

pre[class$='vue']:before {
content: 'vue';
}

pre[class$='react']:before {
content: 'react';
}

pre[class$='shell']:before {
content: 'Shell';
}

pre[class$='json']:before {
content: 'Json';
}

pre[class$='python']:before {
content: 'python';
}

pre[class$='css']:before {
content: 'css';
}

.markdown-preview-view h2 {
/* padding-top: 1.25rem; */
margin: 45px 0 20px 0;
position: relative;
padding-bottom: 10px;
border-bottom: 1px solid;
border-width: 35%;
border-image-slice: 1;
border-image-source: linear-gradient(to right, var(--text-sub-accent), #100e17, #100e17, #100e17);
}

/*照片点击放大*/
.markdown-preview-view img {
	cursor:zoom-in;}

.markdown-preview-view img:active {
cursor:zoom-out;
display:block;
z-index:100;
position:fixed;
max-height:100%;
max-width:100%;
height:100%;
width:100%;
object-fit: contain;
margin:0 auto;
text-align:center;
padding:0;
left:0;
right:0;
bottom:0;
background:var(--background-primary);}

/*预览模式设置210520_112224*/
.markdown-preview-view {
    line-height: 1.5;/*行间距*/
    padding: 0px 20px;/*页边距，第一个调整上下，后一个调整左右*/
  }
  
  
/*编辑面板左右边距210520_122812*/
.markdown-source-view.mod-cm5 {
position: relative;
height: 100%;
padding-left: 0px;
padding-right: 5px;/*不能搞成0，否则无法在编辑模式下拉滚动条210611_012045*/
}

/* 苹果风味代码块 */
.markdown-preview-view code {
position: relative;
display: block;
border-radius: 4px;
background: var(--b3-protyle-code-background) ;
margin-top: 15px !important;
padding-top: 32px !important;
}
.markdown-preview-view code:before {
content: ' ';
    position: absolute;
    background: #fa625c;
    box-shadow: 23px 0 #fdbc40, 45px 0 #35cd4b;
    border-radius: 50%;
    top:10px;
    left: 15px;
    height: 12px;
    width: 12px;
    z-index: 1;
}